<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.de.niklasschildhauer.MealPlan</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauth</string>
		<string>msauthv2</string>
		<string>msauthv3</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>AbrilFatface-Regular.ttf</string>
		<string>Geist-Black.otf</string>
		<string>Geist-Bold.otf</string>
		<string>Geist-Light.otf</string>
		<string>Geist-Medium.otf</string>
		<string>Geist-Regular.otf</string>
		<string>Geist-SemiBold.otf</string>
		<string>Geist-UltraBlack.otf</string>
		<string>Geist-UltraLight.otf</string>
	</array>
</dict>
</plist>
